@font-face {
    font-family: 'cod-mw';
    src: url('./fonts/mw/mw.ttf');
}

@font-face {
    font-family: 'oxygen-regular';
    src: url('./fonts/oxygen/Oxygen-Regular.ttf');
}

@font-face {
    font-family: 'oxygen-light';
    src: url('./fonts/oxygen/Oxygen-Light.ttf');
}

@font-face {
    font-family: 'oxygen-bold';
    src: url('./fonts/oxygen/Oxygen-Bold.ttf');
}