.p-tb {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.pt-4 {
    padding-top: 4rem;
}

.text-white {
    color:white;
}

.fixed-top {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.img-card{
    max-width: 100%;
}

.end {
    text-align: end;
}
.center {
    text-align: center;
}

.img-card {
    width: 100%;
}

.btn {
    border-width: 0px;
    padding: 0.5rem;
    border-radius: 5px 5px 5px 5px;
    color: white;
    font-size: 1rem;
}

.btn-primary {
    background-color: #7bc32c;
}